html, body{
    height: 100%;
}

body {
    background-color: hsl(233, 47%, 7%);
}

.container {
    background-color: hsl(244, 38%, 16%);
    display: flex;
    width: 1000px;
    border-radius: 6px;
    overflow: hidden;
}

.outer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

.content {
    padding: 50px 0 0 65px;
    width: 460px;
}

.content h1, .number {
    color: white;
    font-family: Inter;
    font-weight: 700;
}

.content h1 {
    width: 90%;
    font-size: 2rem;
}

.number {
    font-size: 1.2rem;
}

.content p {
    width: 80%;
    color: hsla(0, 0%, 90%, 0.75);
    font-family: 'Lexend Deca';
    font-size: 0.8rem;
    line-height: 25px;
}

.stat-name {
    color: hsla(0, 0%, 90%, 0.75);
    font-family: 'Lexend Deca';
    font-size: 11px;    
}

.stats {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0;
    margin-top: 60px;
}

.stats span {
    display: block;
    margin: 5px 0 5px 0;
}

.container-img {
    width: 540px;
    height: 400px;
    background-color: hsl(277, 64%, 56%);
    background-image: url(./images/image-header-desktop.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    filter: opacity(0.8);
}

.violet {
    color:  hsl(277, 64%, 61%);
}

.attribution { 
    font-size: 11px;
    text-align: center;
 }

.attribution a { color: hsl(228, 45%, 44%); }

@media (max-width: 1000px) {
    body {
        min-height: 100vh;
        padding: 2rem 0;
    }

    .outer-container {
        align-items:flex-start;
    }

    .container {
        width: 320px;
        flex-direction: column-reverse;
        padding-bottom: 25px;
    }

    .content {
        width: 320px;
        text-align: center;
        padding: 0;
    }

    .container-img {
        width: 320px;
        height:250px;
        background-image: url("./images/image-header-mobile.jpg");
        border-radius: 10px 10px 0 0;
    }

    .stats {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .content h1 {
        width: 90%;
        margin: 0 auto;
        margin-top: 25px;
        font-size: 1.8rem;
    }

    .content p {
        width: 90%;
        font-size: 1rem;
        margin: 0 auto;
        margin-top: 25px;
        line-height: 30px;
    }

    .attribution { 
        font-size: 11px;
        text-align: center;
        margin-top: 30px;
        padding-bottom: 10px;
     }
}